img {
    border-radius: 10%;
    width: 65%;
    height: 65%;
    position: relative;
    left: 100px;
    top: 80px;
    -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}
body{
    background-image: url("https://www.mrperswall.com/sites/default/files/styles/gallery_large/public/wallpapers/wall/C131401-8.jpg");}

.header-grandient{ 
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
